.wrap {
    display: flex;
    flex-wrap: wrap;
}

.block {
    display: flex;
    margin: 1%;
    width: 45%;
    padding: 1%;
    flex-direction: column;
    background: red;
    border: 1px solid cornflowerblue;
}
.comment-block{
    display: flex;
    margin: 1%;
    padding: 1%;
    width: 20%;
    flex-direction: column;
    background: red;
    border: 1px solid cornflowerblue;
}
.border {
    border: 1px solid blue;
}

.button {
    margin: 2%;
    width: 90%;
}

.button-user {
    margin: 2%;
    width: fit-content;
}

.post {
    display: flex;
    margin: 1%;
    width: 15%;
    padding: 1%;
    flex-direction: column;
}

